body {
	background-image: url("Blue Lace 16.bmp");
	background-repeat: repeat;
}
.photoshop {
	text-align: center;
}

.photoshop-link {
	font-family: 'Comic Sans MS';
	font-size: xx-large;
	color: orange;
}